{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
<div class="form-wrapper">
  <div class="form-card">
    <h1>Введите новый пароль</h1>
    {% if validlink %}
      <form method="post" class="styled-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <label class="form-label">Новый пароль
          {{ form.new_password1.as_widget }}
        </label>
        {{ form.new_password1.errors }}
        <label class="form-label">Повторите новый пароль
          {{ form.new_password2.as_widget }}
        </label>
        {{ form.new_password2.errors }}
        <button type="submit" class="btn-primary">Сохранить пароль</button>
      </form>
    {% else %}
      <p class="form-desc">Ссылка недействительна или уже использована.</p>
      <a class="text-link" href="{% url 'password_reset' %}">Запросить новую ссылку</a>
    {% endif %}
  </div>
</div>

{% include "registration/password_reset_styles.html" %}
{% endblock %}
