{% extends "base.html" %}
{% block title %}Каталог — Drivee{% endblock %}

{% block content %}
  <h1>Каталог товаров</h1>

  {% if products %}
    <table border="1" cellpadding="6" cellspacing="0">
      <tr>
        <th>Название</th>
        <th>Бренд</th>
        <th>Категория</th>
        <th>Цена</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.brand.name }}</td>
        <td>{{ product.category.name }}</td>
        <td>{{ product.price }} ₽</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Все товары съела бабайка👺</p>
  {% endif %}
{% endblock %}
